*{
    font-family: "Josefin Sans";
}
#administration-page{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
#administration-page h1{
    text-align: center;
}
#menu-band{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #e0e0e0;

    background-color: #6a4a3a;
    width: max-content;
    height: 100vh;
}
#menu-band ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
#menu-band ul li a{
    text-decoration: none;
    color: #e0e0e0;
}

#card-article{
    display: flex;
    flex-direction: row;
    column-gap: 10px;

}

.card .action-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}