:root {
  --bulma-success-h: 210deg;
  --bulma-success-s: 100%;
  --bulma-success-l: 50%;
}



section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  #content-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F6F1F0;
    padding: 20px;
    border-radius: 10px;
  a{
    text-decoration: none;
    color: #000000;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

  #button-submit input{
    color: #FFFF;
  }
  }

  }

}



