main {
    padding: 40px 20px;
    text-align: center;
}
main h2 {
    font-size: 2em;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}
form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.form-row {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

input, select, textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: sans-serif;
}
.button-container {
    text-align: right;
}
.button-container button {
    background-color: #298929;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}



