@media (max-width: 932px) {
    #logo{
        display: none;
    }
    #navbar{
        display: none;
    }

    #nav-mobile{
        display: flex;
        font-family: "Josefin Sans";
    }

    /*For home page*/
    #home_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #latest_article{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #other_article{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #other_article #article{
        width: auto;
    }
    /*For article page*/
    .article-section{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 7px;

    }
    #article .content-article{
        font-size: 1rem;
    }
    #article{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #article img{
        width: auto;
    }
    /*For footer*/
    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 0;
        width: auto;
        padding: 15px;
    }
    #footer #about-us{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    #footer #about-us #questions ul{
        display: flex;
        flex-direction: row;
        column-gap: 45px;
        justify-content: center;
        align-items: center;
    }

    #footer #about-us #contact-information{
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #footer #about-us #social-media{
        display: flex;
        flex-direction: row;
    }
    #footer #about-us span{
        display: none;
    }
    /*For contact page*/
    #contact-main{
        width: auto;
    }
    /*For discovery page*/
    #discovery-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*For faq page*/
    #faq-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 75px;
        margin: auto auto auto auto;
    }
    /*For event page*/
    #event-display{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 20px;
    }
    #line{
        bottom: 45px;
        padding-bottom: 5px;
    }
    #event-display #information-event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }

}
