:root{
    --font-primary: "Josefin Sans";

}
*{
    margin: 0;
    font-family: "Josefin Sans";
}
/*Tag style*/
body{
    font-family: var(--font-primary);
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    font-size: x-large;
}
/*Style of navbar*/
#nav-mobile{
    display: none;
}
#logo{
    text-align: center;
    font-size: xx-large;
    background-color: #7A4B3B;
    color: white;
    padding-top: 5px;
}
#account-icon{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #7A4B3B;
    padding: 10px;
}

#navbar nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: white;

}
#navbar nav a{
    text-decoration: none;
    color: white;
}
#account-icon {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    margin-right: 0;
}
#logout{
    background-color: #F4E1A1;
}
#footer{
    display: flex;
    flex-direction: column;
    background-color:  #7A4B3B;
    bottom: 0;
    width: 100%;
    color: #e0e0e0;
}

#footer span{
    color: #e0e0e0;
    margin: auto auto;
}
#footer #about-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer #about-us span{
    font-size: x-large;
}
#footer #about-us #contact-information{
     display: flex;
    flex-direction: column;
    gap: 30px;
    color: #e0e0e0;
    margin-left: 40px;
    margin-bottom: 20px;
}

#footer #about-us #contact-information h1{
    font-size: xx-large;
}
#footer #about-us #questions{
    margin-bottom: 20px;
}

#footer #about-us  #social-media{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
}
#footer #questions ul li a {
    text-decoration: none;
    color: #e0e0e0;
}